################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutoTypeSearch/.vs/AutoTypeSearch/v16
/AutoTypeSearch/obj/Debug
