<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoTypeSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoTypeSearch.Properties.Settings>
            <setting name="SearchTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchUrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchCustomFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ShowOnFailedAutoType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOnHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOnIPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludeExpired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolveReferences" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultAction" serializeAs="String">
                <value>PerformAutoType</value>
            </setting>
            <setting name="AlternativeAction" serializeAs="String">
                <value>EditEntry</value>
            </setting>
            <setting name="ShowHotKey" serializeAs="String">
                <value>None</value>
            </setting>
        </AutoTypeSearch.Properties.Settings>
    </userSettings>
</configuration>